.box {
    width: 60px;
    height: 60px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1{
    background-color: #333;
}

.box2{
    background-color: orange;
}

.box3{
    background-color: firebrick;
    padding: 10px;
    border: 10px solid #333;
}